.App {
  text-align: center;
}

body {
  background-image: url("/public/poster.jpg");
  background-color: #cccccc;
 }

.SearchForm-wrapper {
  display: flex;
  justify-content: center;
}

.Movies-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px;
}

.Movie-list-item{
  margin-bottom: 24px;
  width: 30%;
}

.img-detail{
  /* display: flex; */
  justify-content: center;
  width: 50%;
}

.img-detail img {
  width: 50%;
}