@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

.App {
  text-align: center;
  margin: 0;
}
/* 
.App {
  
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
 } */

 #titulo {
   font-family: 'Raleway', sans-serif;
   font-style: normal;
   font-weight: bolder;
   line-height: 163.69%;
  padding-top: 45px;
 }

 .portada {
  /* display: inline-block; */
    background-color: #ffffff;
    padding: 10px 45px 45px;
    width: 80%;
    margin: auto;
    /* margin-top: 25px; */
 }
 
 .control input {
   outline: none;
   background-color:#89e163;
   border-color: #89e163;
 }

 .control input:focus,
 .control input:valid {
  border-color: #89e163;

 }

 .control input:focus ~ label,
 .control input:focus ~ button
 {
   top: -25px;
   left: 0;
   color: #89e163;
   font-size: 15px;
   font-weight: bold;
 }

#btn-buscar {
  background-color: #89e163;
  border-color: #89e163;
}

#buscador-btn{
  color: #ffffff;
}

/* #buscador-btn {
  color: #89e163;
} */

.control label {
  position: absolute;
  left:0px;
  top:8px;
  width: 100%;
  pointer-events: none;
  transition: .5s;
  color: #000000 ;
}

/* .button-buscar 
{    background-color: 89e163;
  border-color: #dbdbdb;
  border-width: 1px;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap;}
 */

 .SearchForm-wrapper {
  display: flex;
  justify-content: center;
}

.div-results {
  padding: 20px;
  /* padding-right: 20px; */
  width: 80%;
  position: relative;
  margin: auto;
  margin-top: 20px;
  background-color: #ffffff;
  /* justify-content: center; */
}

.card-deck .card {
  display: inline-block;
  overflow: auto;
  display: flex;
  /* align-items: center; */
}

.card {
  max-width: 300px;
  /* margin: 25px 20px; */
  text-align: left;
}

/* .Movie-list-item {
  max-width: 300px;
} */

.div-results p {
  margin: auto;
  /* font-size: 20px; */
}

.card-deck .card:hover {
  text-decoration: none;
  background-color: #a5a5a5;
}

.card h4 {
  font-size: 150% ;
}

.card {
  line-height: 2;
}
 /* A PARTIR DE ACA VAMOS A HACERLO CON BOOTSTRAP`` */

/*

.Movies-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px;
}

.Movie-list-item{
  margin-bottom: 24px;
  width: 30%;
  cursor: pointer;
  padding: 15px;
  margin: 15px;
  flex: 0 0 25%;
max-width: 25%;
position: relative;
width: 100%;
flex: 1 1 auto;
min-height: 1px;
padding: 1.25rem;
word-wrap: break-word;
background-color: #ffffff;
-webkit-box-shadow: 5px 5px 8px -1px rgba(243,243,243,1);
-moz-box-shadow: 5px 5px 8px -1px rgba(243,243,243,1);
box-shadow: 5px 5px 8px -1px rgba(243,243,243,1);
}

.Movie-list-item:hover {
  background-color: #a5a5a5;
}

#imagen-pelicula {
  width: auto;
  margin: auto;
}

.img-detail{
  justify-content: center;
  width: 50%;
}

.img-detail img {
  width: 50%;
} */